/* Universel font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Work Sans', sans-serif;
}


/* Nav Styles */
header {
    height: 1240px;
    background: rgba(255, 144, 14, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 190px;
    align-items: center;
}

.nav-title {
    font-size: 20px;
    font-weight: 700;
}

.nav-items ul {
    display: flex;
    gap: 40px;
}

.nav-items ul li {
    list-style: none;
}

.nav-items ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}

/* Banner Styles */
.banner-image {
    display: flex;
    justify-content: center;
}

.banner-image img {
    height: 600px;
    margin: 0 auto;
}

.banner-info {
    width: 862px;
    height: 225px;
    margin: 0 auto;
    padding: 125px 0 140px;
}

.banner-title {
    text-align: center;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}

.banner-description {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    padding: 30px;
}

.btn {
    text-align: center;
}

.btn-primary {
    font-size: 20px;
    padding: 15px 25px;
    background-color: #FF900E;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
}

.btn-secondery {
    font-size: 25px;
    background: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 30px 25px;
    font-weight: 800;
    position: relative;
    bottom: 100px;
    left: 70px;
}

/* Feater List design */
.feature-list-container {
    margin-top: 90px;
    width: 80%;
    margin: 90px auto 100px;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature-list-info {
    height: 300px;
    margin-left: 30px;
    width: 400px;
    grid-column: 3/ -1;
    grid-row: 3 / -1;
    align-self: center;
}

.feature-list-title {
    font-size: 45px;
    line-height: 52px;
    font-weight: 700;

}

.feature-list-info p {
    margin: 25px 0px;
    color: #424242;
}

h1>span:first-child {
    color: #424242;
}

h1>span:last-child {
    color: #FF900E;
}

/* Feature styles */

.feature-container {
    display: grid;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    gap: 35px;
}

.feature-container img {
    height: 920px;
}

.left-border {
    padding-left: 10px;
    border-left: 4px solid #FF900E;
    width: 468px;
    height: 106px;
}

.feature-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    color: #131313;
}

.feature-description {
    margin: 20px 0;
    line-height: 26px;
    color: #424242;
}

.items {
    height: 115px;
    width: 575px;
    margin: 20px 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;

}

.items>h1 {
    color: #131313;
    line-height: 23px;
    font-size: 20px;
    font-weight: 600;
}

.items>p {
    color: #727272;
    line-height: 26px;
}

/* Facts styles */
.facts-title {
    font-size: 45px;
    color: #131313;
    font-weight: 700;
}

.facts-description {
    color: #424242;
    line-height: 22px;
    padding: 30px 0;
}

.facts-info {
    margin: 130px 0 100px 60px;
    width: 553px;
}

.facts-item {
    width: 85%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 170px;
    text-align: center;
}

.item {
    height: 175px;
    border: 1px solid rgb(255, 143, 15);
    width: 190px;
    padding: 45px 30px 60px;
    border-radius: 8px;
}

.item>h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 52px;
    color: #424242;
    margin-top: 12px;
}

.item>p {
    color: 20px;
    color: #424242;
    font-weight: 600;
    margin-top: 12px;
}

/* Hover styles */
.nav-title:hover{
    cursor: pointer;
}
ul li a:hover{
    border-bottom: 2px solid #FF900E;
}
.item:hover {
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(255, 145, 15) 0px 0px 0px 3px;
    cursor: pointer;
}

.item:hover h1 {
    transition: 0.3s;
    font-size: 3em;

}
.client-info:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
} 
/* Review Styles */

.client-info-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.review-title{
    text-align: center;
    padding-bottom: 45px;
    font-size: 35px;
    color: #131313;
}
.client-info{
    padding: 30px;
    height: 240px;
    width: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;

}
.client-info > h1{
    padding: 15px 0;
}
.client-info > p{
    color: #727272;
}
.man-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    justify-content: space-evenly;
}
.man-info > h1{
    font-size: 20px;
}
.man-info > img{
    height: 62px;
    border-radius: 50%;

}
.stars i{
    color: #FB8200;
    font-size: 15px;
}
.ceo-des{
    margin-left: 96px;
    position: relative;
    bottom: 10px;
    font-size: 12px;
}





/* Footer-styles */

.footer-container {
    width: 85%;
    margin: 0 auto;
}

.footer-info {
    height: 129px;
    width: 542px;
    margin: 60px auto 30px;
    text-align: center;
    padding: 20px;
}

.footer-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.footer-description {
    color: #727272;
    line-height: 26px;
    margin-top: 10px;
}

.footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.footer-logos > img{
    filter: grayscale(100%);
}

.footer-end {
    color: #424242;
    font-size: 20px;
    line-height: 23px;
    height: 70px;
    width: 80%;
    margin: 70px auto;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    justify-content: center;
    background-color: #FFF4E7;
}

.none {
    display: none;
}

/* Responsive styles */
@media screen and (max-width:576px) {
    header {
        height: 795px;
        width: 100%;
    }

    /* Nav responsive */
    .nav-container {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .nav-items ul {
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;
    }

    /* Banner responsive */
    .banner-info {
        width: 100%;
        padding: 0;
        margin-top: 50px;
    }

    .banner-title {
        font-size: 35px;
        line-height: 50px;
    }

    .banner-description {
        padding: 10px 20px;
        text-align: center;
    }

    .btn-primary {
        padding: 15px 20px;
        font-size: 15px;
        margin-top: 10px;
    }
    .banner-image{
        margin-top: 30px;
    }

    .banner-image img {
        width: 100%;
        height: 200px;
        margin-top: 100px;
    }

    /* Feature list responsive */
    .feature-list-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        justify-items: center;

        width: 100%;
    }

    .feature-list-info {
        grid-column: 1;
        width: 300px;
        grid-row: 0;
        height: 100%;
    }

    .feature-list-title {
        font-size: 40px;
    }

    .feature-list-info>p {
        width: 100%;
        padding: px;
        margin-left: px;


    }

    /* Feature Section responsive */
    .feature-container {
        flex-direction: column-reverse;
        width: 100%;
    }

    .feature-container>img {
        width: 100%;
        height: 525px;
    }

    .feature-info {
        width: 85%
    }

    .feature-title {
        width: 285px;

    }

    .left-border {
        width: 100%;
        height: 100%;
    }

    .items {
        width: 100%;
        height: 100%;
    }

    .btn-secondery {
        top: -1310px;
        left: -122px;
        padding: 25px 38px;
        font-size: 15px;
    }

    /* Facts styles */
    .facts-container {
        width: 100%;
    }

    .facts-info {
        width: 90%;
        padding: 2px 10px 30px;
        margin: 0;
    }

    .facts-description {
        padding: 10px;
        text-align: ;
    }

    .facts-item {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
    }

    /* Footer styles */
    .footer-container {
        width: 100%;
    }

    .footer-info {
        width: 80%;
        height: auto;
    }

    .footer-logos {
        margin-top: 40px;
        width: 100%;
        flex-wrap: wrap;
        padding: ;
        height: 100%;
        justify-content: space-evenly;
    }

    .footer-logos>img {
        padding: 10px;
        height: 30px;
    
    }

    .footer-end {
        margin-bottom: 0;
        width: 87%;
        padding: 20px;
    }

    .footer-end>p {
        font-size: 15px;
    }
    .client-info-container{
        flex-direction: column;
        width: 100%;

    }
    .client-info{
        width: auto;
        padding: 26px;
        height: 225px;
    }
    .client-info > h1{
        font-size: 23px;
    }
    .client-info i{
        font-size: 10px;
    }
}